/* CSS */

.padtop {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.paddown {
  padding-bottom: 0.75rem;
}
.center-item {
  position: relative;
  overflow: hidden;
}

.center-item .main-item {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
}

.center-item .main-item img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.center-item .main-item-1 {
  height: 500px;
}

.center-item .main-item-text {
  position: absolute;
  left: 50px;
  max-width: 150px;
}
.center-item .main-item-1 .main-item-text {
  position: absolute;
  left: 50px;
  max-width: 300px;
}

.center-item .main-item-1 .main-item-text {
  margin-bottom: 15px;
}

.center-item .main-item-text h1 {
  color: #000;
  margin-bottom: 5px;
}

.center-item .main-item-text p {
  margin-bottom: 10px;
}

.center-item .main-item-text h4 {
  color: #000;
  font-weight: 700;
}

.center-item .main-item-text a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: 0 0 3px;
  display: inline-block;
}

.center-item .main-item-text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ff7200;
  content: '';
}

.new-product {
  padding-top: 60px;
  padding-bottom: 50px;
}

.new-product .section-title {
  padding-bottom: 45px;
}

.new-product .section-title h4 {
  columns: #000;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  display: inline;
}

.new-product .section-title h4:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background-color: #ca1515;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.spad {
  padding-top: 80px;
  padding-bottom: 80px;
}
.property_gallery {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.product_item {
  flex: 0 0 auto;
  width: 214px;
  height: 450px;
  margin-bottom: 35px;
  margin-right: 20px;
}

.product_item_pic {
  position: relative;
  overflow: hidden;
}

.product_item_pic img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.product_item_pic .label {
  position: absolute;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 2px 8px;
  text-transform: uppercase;
  left: 10px;
  top: 10px;
}

.product_item_pic .label.new {
  background-color: #ff7200;
}

.product_item_text {
  text-align: center;
  padding-top: 22px;
}
.product_item_text h6 a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.product_item_text .rating {
  line-height: 18px;
  margin-bottom: 5px;
}
.product_item_text .rating i {
  font-size: 10px;
  color: #e3c01c;
  margin-right: -4px;
}
.rating span {
  font-size: 10px;
}
.product_item_text .rating i:last-child {
  margin-right: 0;
}

.product_item_text .product_price {
  color: #000;
  font-weight: 600;
}

.product_hover {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  text-align: center;
}
.product_hover li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 100px;
  opacity: 0;
}
.product_hover li:last-child {
  margin-right: 0;
}

.product_hover li:hover a {
  background-color: #ff7200;
}
.product_hover li:hover a i {
  color: #fff;
  transform: rotate(360deg);
}

.product_hover li a {
  font-size: 18px;
  color: #000;
  display: block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  line-height: 45px;
  border-radius: 50px;
  box-shadow: 0 0 25px rgba(24, 24, 24, 0.4);
  transition: all 0.5s;
}

.product_hover li a i {
  position: relative;
  display: inline-block;
  transform: rotate(0);
  transition: all 0.3s;
}

.product_item:hover .product_hover li {
  opacity: 1;
  top: 0;
}

.product_hover li:nth-child(1) {
  transition: all 0.4s ease 0.15s;
}
.product_hover li:nth-child(2) {
  transition: all 0.4s ease 0.15s;
}
.product_hover li:nth-child(3) {
  transition: all 0.4s ease 0.2s;
}
.product_hover li:nth-child(4) {
  transition: all 0.4s ease 0n 25s;
}

.product_item_pic .label.stockout {
  background-color: #111111;
}
.product_item_pic .label.sale {
  background-color: #ff7200;
}

.product_item_text .product_price span {
  font-size: 14px;
  color: #b1b0b0;
  text-decoration: line-through;
  margin-left: 4px;
}

.banner {
  position: relative;
  height: calc(100vh-120px);
}

.bg-img {
  background-image: url(http://localhost:3000/images/t2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text {
  position: absolute;
  left: 50px;
  top: 30px;
  max-width: 300px;
}

.banner_text span {
  font-size: 18;
  color: #ff7200;
  text-transform: uppercase;
}

.banner_text h1 {
  font-size: 65px;
  color: #fff;
  margin-bottom: 15px;
}

.banner_text a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding: 0 0 3px;
  display: inline-block;
}

.banner_text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ff7200;
  content: '';
}

.banner_slider {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #000 !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: #ff7200 !important;
}

.banner_item {
  position: relative;
  overflow: hidden;
}

.banner_item .banner_image {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}

.banner_item .banner_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.small-button {
  margin: 5px 0px;
  background-color: #f79a23;
  border-radius: 100px;
  color: white;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hot-deals-title {
  font-weight: bold;
  font-size: 18px;
}

.hot-deal-price {
  margin-top: 0.5rem;
}
.small-button:hover {
  transform: scale(1.05) rotate(-1deg);
}
ls {
  height: 90px;
  width: 120px;
}

.hot-deals-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: 10px;
}

.hot-deal-detail {
  margin-left: 15px;
}
.hot-deal-name {
  font-weight: 600;
  font-size: 15px;
}
.hot-deal-description {
  font-size: 10px;
}

.categories ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.categories ul li {
  padding: 0px;
  margin: 17px 35px;
  font-weight: 500;
}

.main-item-img {
  border-radius: 10px;
}

/* ****************product slide styles**************** */

.product1 {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
.product-category1 {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  position: relative;
}

.product-category1::after {
  position: absolute;
  content: '';
  left: 10vw;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background-color: #ca1515;
}

.product-container1 {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.product-container1::-webkit-scrollbar {
  display: none;
}

.product-card1 {
  flex: 0 0 auto;
  width: 214px;
  height: 450px;
  margin-right: 20px;
}

.product-image1 {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb1 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.discount-tag1 {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card1:hover .card-btn1 {
  opacity: 1;
}

.card-btn1:hover {
  background: #efefef;
}

.product-info1 {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.product-brand1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.product-short-desc1 {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.price1 {
  font-weight: 900;
  font-size: 20px;
}

.actual-price1 {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn1,
.next-btn1 {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn1 {
  left: 0;
}
.next-btn1 {
  right: 0;
}

.pre-btn1 i,
.next-btn1 i {
  opacity: 0.2;
}

.pre-btn1:hover i,
.next-btn1:hover i {
  opacity: 1;
}

.carl {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.left-side1 {
  width: 15vw;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
}

.logo1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vw;
  position: absolute;
  top: 4vw;
  left: -1.5vw;
  transform: rotate(-90deg);
  user-select: none;
}

sm-product1 {
  width: 100%;
  height: auto;
}

.product-index1 {
  font-size: 2vw;
  text-align: center;
}

.sm-product-img-container1 {
  position: absolute;
  margin: 0.5vw 0;
  height: 15vw;
}

.sm-product-img1 {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.sm-product-desc1 {
  text-align: right;
  padding: 0 0.4vw;
  line-height: 1.5vw;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.5);
}

.social-link1 {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%);
}
