.single_product_container {
  display: flex;
  padding: 30px 5vw;
}

.single_product_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.single_product_center {
  flex: 3;
  z-index: 9;
}

.single_product_right {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.single_product_multi_image {
  width: 100px;
  border: 0.1rem solid var(--orange-color);
}

.single_product_multi_image img {
  width: 100%;
  object-fit: cover;
}

.single_product_seller {
  display: flex;
}

.single_product_seller_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single_product_seller img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: top;
}

.single_product_seller_name {
  font-weight: bold;
}

.single_product_sold_status {
  display: flex;
  margin-top: 15px;
}
.single_produc_sold {
  margin-right: 50px;
}

.single_produc_sold svg {
  margin-right: 10px;
  color: var(--orange-color);
}

.single_produc_status {
  border: 0.1rem solid var(--orange-color);
  border-radius: 10px;
  color: var(--orange-color);
  padding: 0 10px;
}

.single_product_actions {
  display: flex;
  margin-bottom: 10px;
}

.single_product_actions svg {
  margin-right: 30px;
  margin-top: 30px;
  font-size: 20px;
}

.single_product_actions svg:hover {
  color: var(--orange-color);
}

.sp_name {
  font-weight: 700;
  margin-top: 20px;
  font-size: 25px;
  text-transform: capitalize;
}

.select_size_header {
  text-transform: capitalize;
  margin-right: 10px;
  margin: 10px 0;
}

.flexSelect {
  display: flex;
}

.sp_select_size_btn {
  border: 0.1rem solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp_btn_checked {
  background: var(--orange-color);
  color: white;
}

.sp_price_detail {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.sp_actual_price {
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
}

.sp_discount_price {
  margin-right: 20px;
  text-decoration: line-through;
  font-size: 20px;
  color: #5b5b5b;
}

.sp_discount {
  font-size: 12px;
  color: var(--orange-color);
}

.sp_btn {
  margin: 20px 0;
}

.sp_cart_btn {
  width: 100%;
  background: var(--orange-color);
  color: white;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sp_cart_btn:hover {
  background: var(--malon-color);
}
.sp_wishlist_btn {
  width: 100%;
  background: none;
  color: var(--orange-color);
  border: 0.1rem solid var(--orange-color);
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
}

.sp_wishlist_btn:hover {
  color: var(--malon-color);
  border: 0.1rem solid var(--malon-color);
}

.sp_more_detail {
  display: flex;
  padding: 15px;
  flex-direction: column;
  margin-bottom: 35px;
}

.sp_detail_title {
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.sp_detail_title::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sp_detail_section.active .sp_detail_title::before {
  content: '-';
}

.sp_detail_section.active .sp_detail_contail {
  height: 200px;
}

.sp_detail_contail {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sp_detail_section {
  width: 100%;
}

.sp_condition_cont {
  display: flex;
}
.sp_condition {
  text-transform: uppercase;
  background: var(--malon-color);
  padding: 0 10px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.orange-color {
  color: var(--orange-color);
}

@media (max-width: 992px) {
  .single_product_container {
    flex-direction: column;
  }
  .single_product_left {
    display: none;
  }
  .single_product_center {
    display: none;
  }
  .single_product_sold_status {
    justify-content: space-between;
  }
  .single_product_right {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single_product_actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
  }
}
